# make and build files
GNUmakefile
Makefile
_*
*~
*.o
*.sym
*.asm
*.img
obj/

# misc
*.log
.gdbinit
.gdbinit.tmpl
qemu.pcap
qemu.pcap.*
qemu.out
qemu.log
wget.log
gradelib.pyc
lab*-handin.tar.gz
myapi.key
.suf

jos.in
jos.log
jos.out
jos.out.*
jos.cmd

# VS code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace